.App{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    border: 1px solid mediumblue;
    margin: auto;

}
    header{
    background-color: rgb(51, 51, 119);
    color: blanchedalmond;
    text-align: center;
    width: 100%;
}

main{
    background-color:rgb(237, 230, 224);
    color: rgb(27, 25, 25);
    display:flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    
    
}
footer {
    background-color:blue;
    color: blanchedalmond;
    text-align: center;
    display: grid;
    width: 100%;
}